DirectoryIndex index.php
RewriteEngine on

RewriteRule composants-processeur.php ?page=composants-processeur [L]
RewriteRule inscription.php ?page=registration [L]
RewriteRule inscription-reussi.php ?page=registration-success [L]
RewriteRule connexion.php ?page=login [L]
RewriteRule mon-compte.php ?page=mon-compte [L]
RewriteRule logout.php ?page=logout [L]
RewriteRule accueil index.php [L]
