DirectoryIndex index.php
RewriteEngine on

RewriteRule data/asset/css/master.css data/asset/css/master.css [L]

RewriteRule composants-processeur.php ?page=composants-processeur [L]
RewriteRule composants-carte-graphique.php ?page=composants-carte-graphique [L]
RewriteRule inscription.php ?page=registration [L]
RewriteRule inscription-reussi.php ?page=registration-success [L]
RewriteRule connexion.php ?page=login [L]
RewriteRule mon-compte.php ?page=mon-compte [L]
RewriteRule logout.php ?page=logout [L]
RewriteRule accueil index.php [L]


RewriteRule admin/creer-categorie.php ?page=admin&section=create-categorie [L]
RewriteRule admin/modifier-categorie.php ?page=admin&section=update-categorie [L]
RewriteRule admin/supprimer-categorie.php ?page=admin&section=delete-categorie [L]

RewriteRule admin/creer-composant.php ?page=admin&section=create-composant [L]
RewriteRule admin/modifier-composant.php ?page=admin&section=update-composant [L]
RewriteRule admin/supprimer-composant.php ?page=admin&section=delete-composant [L]

RewriteRule admin/creer-compatibilite-entre-composant.php ?page=admin&section=create-composantLnkComposant [L]
RewriteRule admin/modifier-compatibilite-entre-composant.php ?page=admin&section=update-composantLnkComposant [L]
RewriteRule admin/supprimer-compatibilite-entre-composant.php ?page=admin&section=delete-composantLnkComposant [L]

RewriteRule admin/creer-revendeur.php ?page=admin&section=create-revendeur [L]
RewriteRule admin/modifier-revendeur.php ?page=admin&section=update-revendeur [L]
RewriteRule admin/supprimer-revendeur.php ?page=admin&section=delete-revendeur [L]

RewriteRule admin/creer-liaison-composant-revendeur.php ?page=admin&section=create-revendeurLnkComposant [L]
RewriteRule admin/modifier-liaison-composant-revendeur.php ?page=admin&section=update-revendeurLnkComposant [L]
RewriteRule admin/supprimer-liaison-composant-revendeur.php ?page=admin&section=delete-revendeurLnkComposant [L]

RewriteRule admin/ ?page=admin [L]
