html,body{
  min-width: 300px; /* empeche de réduire le site en dessous de 300px*/
  height: 100%;

}

.banner{
  color: #FF1B1C;
}
.vignette{
  height: 200px;
}

main{
  min-height: 800px;
  /* padding: 40px 0; */
  color: #0e0e0e;
  background-color: #d1d1d1;
  border-color: #bfbfbf;
}
main > .row > * {
  padding: 40px 0;
}
footer.bg-primary a{
  color: white;
}
.dropdown-menu, .dropdown-menu a{
  color: #FFFFFF;
  background-color: #000000;
  border-color: #bfbfbf;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #383838;
}


main .flex-column .nav-item {
    margin-right: 0;
}

.composants img{
  width:100%;
  min-width: 230px;
}

.composants .label{
  width: 110px;
  display: inline-block;
}
.page-item{
  margin: 0 auto;
}

@media all and (min-width: 300px) and (max-width: 575px){
  .composants img{
    width:50%;
  }
}
@media all and (min-width: 490px){
  .composants img{
    width:230px;
  }
}
